.App {
  display: flex;
  flex-flow: column wrap;
  background-image: url("../images/sunshine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1,
i,
p,
h2,
h3 {
  color: black
}